<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <clear />
    <!--<add name="Sys211" connectionString="server=(LocalDB)\MSSQLLocalDB;uid=sa;pwd=Athlon123;AttachDbFileName=f:\tmp\jssql3_Data.mdf"
      providerName="SqlServer" />-->
    <!--<add name="sys" connectionString="server=.;uid=sa;pwd=Athlon123;database=angular" providerName="SqlServer" />
    <add name="app" connectionString="server=.;uid=sa;pwd=Athlon123;database=angular" providerName="SqlServer" />-->


    <add name="sys" connectionString="server=.;uid=sa;pwd=Athlon123;database=eagle" providerName="SqlServer" />
    <add name="app" connectionString="server=.;uid=sa;pwd=Athlon123;database=eagle" providerName="SqlServer" />
    <add name="app3" connectionString="server=10.10.11.143;uid=sa;pwd=Quantum2019;database=cattle_db_prod;Connection Timeout=300" providerName="SqlServer" />
    
    
    <add name="sys1" connectionString="Database='jssqlen';Data Source='localhost';User Id='root';Password='111111';charset='utf8';pooling=true" providerName="MySQL" />
    <add name="app1" connectionString="Database='jssqlen';Data Source='localhost';User Id='root';Password='111111';charset='utf8';pooling=true" providerName="MySQL" />
    <!--<add name="Sys23" connectionString="server=.;uid=sa;pwd=Athlon123;database=JSSQL"
      providerName="SqlServer" />

    <add name="Sys2" connectionString="server=192.168.2.119;uid=sa;pwd=Athlon123;database=JSSQL"
      providerName="SqlServer" />-->
    <add name="JTSWebUIContext" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=JTSWebUIContext-20170224153540; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|JTSWebUIContext-20170224153540.mdf" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>




    <add key="app_code" value="eagle" />

    <!--for development only-->
    <add key="con_str2" value="server=10.10.11.143;uid=sa;pwd=Quantum2019;database=cattle_db_prod;Connection Timeout=300" />
    <add key="con_str" value="server=.;uid=sa;pwd=Athlon123;database=eagle" />
    <add key="connectionString" value="app" />


    <add key="title" value="JSSql Enterprise" />

    <add key="report_user" value="administrator" />
    <add key="report_pwd" value="Quantum2019" />
    <add key="report_domain" value="dev-new" />
    <add key="create_report" value="false" />

    <add key="process_email" value="true" />
    
    
    
    
    
    <add key="appid" value="wx072d7c1098af8577" />
    <add key="secret" value="67cc96a576ea08739dfef2c5a18d4172" />

    <add key="title" value="JSSQL New." />
    <add key="EncryptKey" value="12345678" />


    <add key="PlanKey" value="p+EqGRmb4zk=" />
    <add key="UserKey" value="qo8WA6+XKeudtOBsSitM3g==" />

    <add key="JSLanguage" value="mssql.net" />
    <add key="JSFramework" value="angular" />
    <add key="LogLevel" value="10" />
    
    <add key="smtp_server" value="smtp.gmail.com" />
    <add key="smtp_user" value="jerrycai73" />
    <add key="smtp_pwd" value="William6688" />
    <add key="from_email" value="admin@polltek.com" />


    <add key="Language" value="en" />



    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="LoginEffectiveHours" value="4" />

    <add key="LoadJSEveryTime2" value="No" />
    <add key="LoadJSEveryTime" value="Yes" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--禁用VS2013的Browser Link-->
    <add key="vs:EnableBrowserLink" value="false" />
    <!--为了能保证监视能正常工作，还需要确保网站bin目录下存在ClownFishProfilerLib.dll文件， 此文件订阅了前面所说的事件，并通过Remoting给ClownFishSQLProfiler.exe发送应用程序访问数据库的所有操作细节。 当ClownFishProfilerLib.dll不存在时，ClownFishSQLProfiler.exe不会收到任何通知，但并不影响网站正常运行。-->
    <add key="EnabledClownFishProfiler" value="true" />
    <!--实体类型的加载器自动编译模式下，定时器的执行频率必须大于 3000 。单位：毫秒。【系统默认设置1分钟】-->
    <add key="AutoCompileTimerPeriod" value="60000" />
    <!--配置登录默认失效时长(单位)：小时-->
    <!--使用Easyui的版本配置，如果Easyui版本升级变更，只需要配置这里，并且存在对应的版本文件即可-->
    <add key="EasyuiVersion" value="1.4.4" />
    <!--当前框架系统版本号-->
    <add key="SystemVersion" value="v2.0" />
    <!--开始：微信公众号开发的一些配置信息-->

  </appSettings>

  <system.web>

    <httpRuntime targetFramework="4.5" />

    <compilation debug="true" targetFramework="4.5" />

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <authentication mode="Forms">
      <forms name="KMAUTH" loginUrl="~/Login" defaultUrl="~/Login" protection="All" timeout="6000" path="/" />
    </authentication>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />

    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
       </handlers>
    <staticContent>
      <mimeMap fileExtension=".svc" mimeType="application/octet-stream" />
    </staticContent>
  </system.webServer>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICodeService" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://172.16.1.125:88/CodeService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICodeService" contract="ICodeService" name="BasicHttpBinding_ICodeService" />-->
      <endpoint address="http://localhost/CodeService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICodeService" contract="ICodeService" name="BasicHttpBinding_ICodeService" />
         <!--<endpoint address="http://code.polltek.cn/CodeService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICodeService" contract="ICodeService" name="BasicHttpBinding_ICodeService"/>-->
  
    
    </client>
  </system.serviceModel>

</configuration>
