@{
    Layout = "~/Views/Home/_main_layout2.cshtml";
}
@section head{
    <style>
    </style>

}

@section scripts{

}	
<div id="content">
    @*<div id="breadcrumb">
        <!-- breadcrumb starts-->
        <div class="container">
            <div class="one-half">
                <h4>Services</h4>
            </div>
            <div class="one-half">
                <nav id="breadcrumbs">
                    <!--breadcrumb nav starts-->
                    <ul>
                        <li>You are here:</li>
                        <li><a href="index.html">Home</a></li>
                        <li>Services</li>
                    </ul>
                </nav>
                <!--breadcrumb nav ends -->
            </div>
        </div>
    </div>*@
    <!--breadcrumbs ends -->
    <div class="container">
        <div class="one">
            <div class="one-third">
                <div class="service-item">
                    <!--service item starts -->
                    <h1>
                        <i class="icon-cloud"></i>
                    </h1>
                    <h4>Top Servers for Our Clients</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.
                    </p>
                    <p>
                        <br /><a href="#" class="button big round color">Hire Us Today!</a>
                    </p>
                </div>
                <!--service item ends -->
            </div>
            <div class="one-third">
                <div class="service-item">
                    <!--service item starts -->
                    <h1>
                        <i class="icon-code"></i>
                    </h1>
                    <h4>Top Development Services</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.
                    </p>
                    <p>
                        <br /><a href="#" class="button big round color">Hire Us Today!</a>
                    </p>
                </div>
                <!--service item ends -->
            </div>
            <div class="one-third">
                <div class="service-item">
                    <!--service item starts -->
                    <h1>
                        <i class="icon-pencil"></i>
                    </h1>
                    <h4>Simple &amp; Effective Web Design</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.
                    </p>
                    <p>
                        <br /><a href="#" class="button big round color">Hire Us Today!</a>
                    </p>
                </div>
                <!--service item ends -->
            </div>
            <div class="horizontal-line">
            </div>
        </div>
        <div class="one">
            <div class=" one-third">
                <h4>Our Services</h4>
                <p>
                    Suspendisse bibendum cursus luctus. Donec consequat malesuada felis at faucibus. Nulla dapibus malesuada libero, ut iaculis elit mattis quis.
                </p>
                <ul class="simple-list">
                    <li><i class="icon-check-sign"></i>Branding</li>
                    <li><i class="icon-check-sign"></i>Illustration</li>
                    <li><i class="icon-check-sign"></i>Design</li>
                    <li><i class="icon-check-sign"></i>Animations</li>
                    <li><i class="icon-check-sign"></i>Front-End Development</li>

                </ul>

            </div>
            <div class="one-third">
                <p>
                    <img src="images/team/service-2.jpg" alt=" " />
                </p>
                <h4>Best Hosting Solutions</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.
                </p>
            </div>
            <div class="one-third">
                <p>
                    <img src="images/team/service-3.jpg" alt=" " />
                </p>
                <h4>Web Design &amp; Development</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.
                </p>
            </div>
        </div>
        <div class="one">
        </div>
    </div>
    <div class="intro-features">
        <div class="container">
            <div class="flexslider clients-slider no-margin ">
                <ul class="slides">
                    <li>
                        <div class="one">
                            <div class="testimonial">
                                <h3>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor parturient montes, nascetur.</h3>
                                <div class="testimonial-avatar">
                                    <img src="images/avatars/avatar-01.png" alt="" />
                                </div>
                                <h5>John Doe - Some Company CEO</h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="one">
                            <div class="testimonial">
                                <h3>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor parturient montes, nascetur.</h3>
                                <div class="testimonial-avatar">
                                    <img src="images/avatars/avatar-02.png" alt="" />
                                </div>
                                <h5>John Doe - Some Company CEO</h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="one">
                            <div class="testimonial">
                                <h3>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor parturient montes, nascetur.</h3>
                                <div class="testimonial-avatar">
                                    <img src="images/avatars/avatar-03.png" alt="" />
                                </div>
                                <h5>John Doe - Some Company CEO</h5>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<section class="footer-call-to-action">
    <section class="container">
        <div class="three-fourth">
            <h4>If you you’re interested in working with Us, feel free to contact Us via contact form.</h4>
        </div>
        <div class="one-fourth">
            <a href="#" class="button grey huge round">Purchase Now</a>
        </div>
    </section>
</section>