
@{
    //------------------------------------------------------------------------------
    //        Date  2018-05-27
    //        Author  蔡捷
    //			 				About page
    //        File  about.cshtml  Page file
    //------------------------------------------------------------------------------

    ViewBag.Title = "About";
    Layout = "~/Views/Home/_main_layout2.cshtml";
}

@using System.Data;
@section head{
    <style type="text/css">
        .main_div img {
            padding: 5px;
        }
    </style>

}

@section scripts{
    
}

<div id="content">
    <div class="container main_div">


        <div class="container main_div" id="abountDiv">


            @{
                DataTable dt = (DataTable)ViewData["staff_info"];
                if (dt != null)
                {
                    foreach (DataRow r in dt.Rows)
                    {

            <div class="one">
                <div class="one-fourth">
                    <div class="team-member">
                        <!-- team member starts -->
                        <div class="avatar">
                            <img src="/upload/@r["photo"]" alt=" " />
                        </div>
                        <h4> @r["real_name"] </h4>
                        <h5>Senior Web Developer</h5>
                        <ul class="social-links alternative">
                            <!-- header social links starts-->
                            <li><a href="#" class="twitter tooltip" title="Some Title"><i class="icon-twitter"></i></a></li>
                            <li><a href="#" class="facebook tooltip" title="Some Title"><i class="icon-facebook"></i></a></li>
                            <li><a href="#" class="linkedin tooltip" title="Some Title"><i class="icon-linkedin"></i></a></li>

                            <li><a href="#" class="skype tooltip" title="Some Title"><i class="icon-skype"></i></a></li>
                            <li><a href="#" class="dribbble tooltip" title="Some Title"><i class="icon-dribbble"></i></a></li>


                        </ul>
                    </div>
                    <!-- team member ends -->
                </div>
                <div class="three-fourth">

                    @Html.Raw(r["context"].ToString().Replace("&gt;", ">").Replace("&lt;", "<"))
                </div>

            </div>

                }
                }
                }





            </div><!--/.container-->
                    </div>
</div>
