@{
    Layout = null;
}
@*<!DOCTYPE html><html lang="zh_CN"> 使用这个出现了滚动条*@
@*<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">*@
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewBag.Title </title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <!--加载共通CSS-->
    <link href="/Content/css/base.css?v=1" rel="stylesheet" type="text/css" />
    <link href="/Content/css/btns/cssbtn.css" rel="stylesheet" />
    
    <style>
    </style>

</head>
<body id="homebody" class="easyui-layout">
    <div id='pageLoading' style="position: absolute; z-index: 1000; top: 0px; left: 0px; width: 100%; height: 100%; background: #545669; text-align: center; opacity: 0.8; filter: alpha(opacity=80);">
        
        <a href="/home/admin">admin</a>
    </div>
    
</body>
</html>