
@{
    //------------------------------------------------------------------------------
    //        Date  2018-05-27
    //        Author  蔡捷
    //			 				About page
    //        File  about.cshtml  Page file
    //------------------------------------------------------------------------------

    ViewBag.Title = "About";
    Layout = null;
}

@using System.Data;
@section head{

}
<style>


    . /*layout-mock *:not(.ui-splitbar) {
        background: #eee no-repeat center;
    }


    .layout-mock .center-back {
        background-image: url("http://placehold.it/400x300/eee/666&text=CENTER");
    }

    .layout-mock .north-back {
        background-image: url("http://placehold.it/400x300/eee/666&text=NORTH");
    }

    .layout-mock .south-back {
        background-image: url("http://placehold.it/400x300/eee/666&text=SOUTH");
    }

    .layout-mock .east-back {
        background-image: url("http://placehold.it/400x300/eee/666&text=EAST");
    }

    .layout-mock .west-back {
        background-image: url("http://placehold.it/400x300/eee/666&text=WEST");
    }*/
    sidebar {
        float: left;
    }

    .tmpHide {
        display: none;
    }

    /*.ui-grid, .ui-grid-viewport {
        height: auto !important;
    }*/
</style>

@*<script src="/Javascripts/vendor/layout/ui-layout.js"></script>
    <link href="/Javascripts/vendor/layout/ui-layout.css" rel="stylesheet" />
*@


@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">*@


@Request.Params["id"]
<script type="text/javascript">
     var model_string = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))';
       km.model = JSON.parse(model_string);
</script>



<script src="../Javascripts/vendor/angular/angularjs-autocomplete.min.js"></script>


<div class="row justify-content-center h-100">
    <div class="col-sm-6 hidden-md-down  ">


        <div ng-controller="MyLogCtrl" class=" h-100">

            <div class="panel panel-default ">
                <div auto-complete
                     source="source"
                     @*path-to-data="results"*@
                     display-property="text"
                     value-property="text"
                     listFormatter="fromat"
                     min-chars="2"
                     placeholder="Enter Address"
                     @*value-changed="callback(value)"*@
                     style=" z-index:200">
                    <input id='ip' ng-model="ip" name="addressText" style="width: 300px;" />
                    {{ip}}
                </div>

                <div class="checkbox">
                    <label class="i-checks">
                        <input type="checkbox" checked><i></i> Remember me
                    </label>
                </div>

                <div class="radio">
                    <label class="i-checks">
                        <input type="radio" name="a" value="option1">
                        <i></i>
                        Option one
                    </label>
                </div>
                <div class="radio">
                    <label class="i-checks">
                        <input type="radio" name="a" value="option2" checked>
                        <i></i>
                        Option two checked
                    </label>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Switch</label>
                    <div class="col-sm-10">
                        <label class="i-switch m-t-xs m-r">
                            <input type="checkbox" checked>
                            <i></i>
                        </label>
                        <label class="i-switch bg-info m-t-xs m-r">
                            <input type="checkbox" checked>
                            <i></i>
                        </label>
                        <label class="i-switch bg-primary m-t-xs m-r">
                            <input type="checkbox" checked>
                            <i></i>
                        </label>
                        <label class="i-switch bg-danger m-t-xs m-r">
                            <input type="checkbox" checked>
                            <i></i>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Datepicker</label>
                    <div class="col-sm-10" ng-controller="DatepickerDemoCtrl">
                        <div class="input-group w-md">
                            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>


            </div>
                <div class="panel panel-default  h-100">
                    <div class="panel-heading">
                        MyLog   &nbsp; <div ng-init="data1=[ 16,15,15,14,17,18,16,15,16 ]" ui-jq="sparkline" ui-options="{{data1}}, {type:'bar', height:19, barWidth:4, barSpacing:2, barColor:'{{app.color.success}}'}" class="sparkline inline">loading...</div>




                        <div style="float:right;">


                            <button class="btn primary" ng-click="InsertSide()" style="padding:0px;"><i class="fa fa-plus-circle">Add&nbsp;&nbsp;</i></button>
                        </div>
                    </div>
                    <div class="table-responsive  h-100">
                        <div ui-grid="MyLoggridOptions" ui-grid-pagination ui-grid-selection style="min-height:420px;"></div>
                    </div>
                </div>

            </div>

        </div>
    <div class="col-sm-6">

        <tabset justified="false" class="tab-container">

            <tab heading="My Log " id="tab_a1">

                <div ng-controller="MyLogDetailCtrl">
                    <div class="modal-header">
                        MyLog
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>action</label>
                            <p><input ng-model="row.action" class="form-control" placeholder="action" /></p>
                        </div>
                        <div class="form-group">
                            <label>action_data</label>
                            <p><input ng-model="row.action_data" class="form-control" placeholder="action_data" /></p>
                        </div>
                        <div class="form-group">
                            <label>add_by</label>
                            <p><input ng-model="row.add_by" class="form-control" placeholder="add_by" /></p>
                        </div>
                        <div class="form-group">
                            <label>add_on</label>
                            <p><input ng-model="row.add_on" class="form-control" placeholder="add_on" /></p>
                        </div>
                        <div class="form-group">
                            <label>app_code</label>
                            <p><input ng-model="row.app_code" class="form-control" placeholder="app_code" /></p>
                        </div>
                        <div class="form-group">
                            <label>ip</label>
                            <p><input ng-model="row.ip" class="form-control" placeholder="ip" /></p>
                        </div>
                        <div class="form-group">
                            <label>menu_code</label>
                            <p><input ng-model="row.menu_code" class="form-control" placeholder="menu_code" /></p>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class=" MyLogDetailButtons" style="display:none;">
                            <button ng-click="save()" class="btn btn-primary">Save</button>
                            <button ng-click="cancel()" class="btn">close</button>

                        </div>
                    </div>
                </div>

            </tab>

            <tab heading="My Log2 " id="tab_a2">


                <div ng-controller="MyLog2Ctrl">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            MyLog2
                            <div style="float:right;">
                                <button class="btn primary" ng-click="InsertRow()" style="padding:0px;"><i class="fa fa-plus-circle">Add&nbsp;&nbsp;</i></button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <div ui-grid="MyLog2gridOptions" ui-grid-pagination ui-grid-selection></div>
                        </div>
                    </div>
                </div>

            </tab>

        </tabset>
    </div>
</div>
<div style='display:none'>

</div>
