
@{
    //------------------------------------------------------------------------------
    //        Date  2018-05-27
    //        Author  蔡捷
    //			 				About page
    //        File  about.cshtml  Page file
    //------------------------------------------------------------------------------

    ViewBag.Title = "About";
    Layout = null;
}

@using System.Data;
@section head{

}
<style>


    . /*layout-mock *:not(.ui-splitbar) {
        background: #eee no-repeat center;
    }


    .layout-mock .center-back {
        background-image: url("http://placehold.it/400x300/eee/666&text=CENTER");
    }

    .layout-mock .north-back {
        background-image: url("http://placehold.it/400x300/eee/666&text=NORTH");
    }

    .layout-mock .south-back {
        background-image: url("http://placehold.it/400x300/eee/666&text=SOUTH");
    }

    .layout-mock .east-back {
        background-image: url("http://placehold.it/400x300/eee/666&text=EAST");
    }

    .layout-mock .west-back {
        background-image: url("http://placehold.it/400x300/eee/666&text=WEST");
    }*/
    sidebar {
        float: left;
    }

    .tmpHide {
        display: none;
    }
</style>

@*<script src="/Javascripts/vendor/layout/ui-layout.js"></script>
    <link href="/Javascripts/vendor/layout/ui-layout.css" rel="stylesheet" />
*@


@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">*@


@Request.Params["id"]
<script type="text/javascript">
     var model_string = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))';
       km.model = JSON.parse(model_string);
</script>



<body>


    <div class="row">


        <div class="col-sm-8">
            <div ng-controller="MyLog2Ctrl">




                <script type="text/ng-template" id="myhtml">
                    <div class="modal-header">
                        {{row.EditType}} {{row.ip}}
                    </div>
                    <div class="col-sm-12">
                        @*<form role="form">*@
                        <div class="form-group">
                            <label>Action</label>
                            <p><input ng-model="row.action" class="form-control" placeholder="Action" /></p>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" placeholder="Password">
                        </div>
                        <div class="checkbox">
                            <label class="i-checks">
                                <input type="checkbox" checked disabled><i></i> Check me out
                            </label>
                        </div>
                        @*//   <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                </form>*@
                    </div>
                    <div class="modal-footer">
                        <button ng-click="ok()" class="btn btn-primary">Save</button>
                        <button ng-click="cancel()" class="btn">close</button>
                    </div>
                </script>

                <button class="btn btn-info" ng-click="open('lg','Edit')" style="margin: 15px;">Edit</button>
                <button class="btn btn-info" ng-click="open('lg','Insert')" style="margin: 15px;">Insert</button>

                @*<input type="text" ng-model="pc.myrow.action" class="ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched" value="">*@


                <div class="panel-heading">
                    MyLog
                    {{row.action}}
                    @*<input type="text" ng-model="pc.test" class="ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched" value="">*@
                    <div style="float:right;">
                        <button class="btn primary" ng-click="InsertRow()" style="padding:0px;"><i class="fa fa-plus-circle">Add&nbsp;&nbsp;</i></button>
                    </div>
                </div>
                <div class="table-responsive">
                    <div ui-grid="MyLog2gridOptions" ui-grid-pagination ui-grid-selection style="min-height:420px;"></div>
                </div>
            </div>

        </div>
    </div>
    <div style="display:none;">

        @*<div class="product-options">
                <a id="myWish" href="javascript:;" class="btn btn-mini">Add to Wishlist </a>
                <a href="" class="btn btn-mini"> Purchase </a>
            </div>
            <div class="alert alert-success" id="success-alert">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong>Success! </strong>
                Product have added to your wishlist.
            </div>*@


    </div>
</body>
