
@{
    //------------------------------------------------------------------------------
    //        Date  2018-05-27
    //        Author  蔡捷
    //			 				About page
    //        File  about.cshtml  Page file
    //------------------------------------------------------------------------------

    ViewBag.Title = "About";
    Layout = null;
}

@using System.Data;
@section head{

}
<style>


    . /*layout-mock *:not(.ui-splitbar) {
        background: #eee no-repeat center;
    }


    .layout-mock .center-back {
        background-image: url("http://placehold.it/400x300/eee/666&text=CENTER");
    }

    .layout-mock .north-back {
        background-image: url("http://placehold.it/400x300/eee/666&text=NORTH");
    }

    .layout-mock .south-back {
        background-image: url("http://placehold.it/400x300/eee/666&text=SOUTH");
    }

    .layout-mock .east-back {
        background-image: url("http://placehold.it/400x300/eee/666&text=EAST");
    }

    .layout-mock .west-back {
        background-image: url("http://placehold.it/400x300/eee/666&text=WEST");
    }*/
    sidebar {
        float: left;
    }

    .tmpHide {
        display: none;
    }

    /*.ui-grid, .ui-grid-viewport {
        height: auto !important;
    }*/
</style>

@*<script src="/Javascripts/vendor/layout/ui-layout.js"></script>
    <link href="/Javascripts/vendor/layout/ui-layout.css" rel="stylesheet" />
*@


@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">*@


@Request.Params["id"]
<script type="text/javascript">
     var model_string = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))';
       km.model = JSON.parse(model_string);
</script>




<div class="row">
    <div class="col-sm-12">


        <div ng-controller="MyLogCtrl">


            <div class="panel panel-default">
                <div class="panel-heading">
                    MyLog
                    @*<select ui-select class="form-control m-b" ng-model="row.app_code" data-ng-options="x.text   for x in getDDL('client')" ></select>*@
                    <div style="float:right;">
                        <button class="btn primary" ng-click="InsertRow()" style="padding:0px;"><i class="fa fa-plus-circle">Add&nbsp;&nbsp;</i></button>
                    </div>
                </div>
                <div class="table-responsive">
                    <div ui-grid="MyLoggridOptions"  ui-grid-edit=""  ui-grid-pagination ui-grid-selection style="min-height:420px;"></div>
                </div>
            </div>
        </div>

    </div> 
</div>
<div style='display:none'>

</div>

