 <table class="table_content" cellpadding="3" cellspacing="0" border="0">

                    <tr><td class="td_title">add_by</td> <td>  <input id='TPL_add_by' data-options="" name='add_by' type='text' class='easyui-textbox' style='width:100px' /></td></tr>

                    <tr><td class="td_title">add_on</td> <td>  <input id='TPL_add_on' data-options="" name='add_on' type='text' class='easyui-textbox' style='width:230px' /></td></tr>

                    <tr><td class="td_title">data_name</td> <td>  <input id='TPL_data_name' data-options="" name='data_name' type='text' class='easyui-textbox' style='width:500px' /></td></tr>

                    <tr><td class="td_title">exp_date</td> <td>  <input id='TPL_exp_date' data-options="" name='exp_date' type='text' class='easyui-textbox' style='width:100px' /></td></tr>
                    <input id='TPL_id' name='id' type='hidden' value='0' />

                    <tr><td class="td_title">status</td> <td>  <input id='TPL_status' data-options="" name='status' type='text' class='easyui-textbox' style='width:500px' /></td></tr>


                </table>