@{
//------------------------------------------------------------------------------
//       时间： 2018-03-17
//       作者： fdsaf
//			 				s
//       文件： search.cshtml 页面文件
//------------------------------------------------------------------------------

    ViewBag.Title = "search";
    Layout = "~/Views/Shared/_Layout_mobile.cshtml";
}

@section head{

}

@section scripts{
    <script>

        function goBack() {
            history.back();
        }

         function pp() {
            $.popup('.popup-about');
         }
         $(document).on('click', '.open-about', function () {
            // alert("");
             $.popup('.popup-about');
         });
        // var model_string = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))';


         // model_string = model_string.replaceAll('"[', '[').replaceAll(']"', ']').replaceAll("'","\"");
       //  wrapper.model = JSON.parse(model_string);
         //    alert(wrapper.model.UserMenus2);
        @*var gMenus = JSON.parse('@Html.Raw(ViewBag.UserMenus)');



        $(function () {
            var t = { Table: gMenus };
            $("#template_menu").tmpl(t)
                                 .appendTo("#main_menu");
        })*@


    </script>

    <script src="~/Scripts/jquery.tmpl.js"></script>
    <script src="~/Scripts/jquery.tmplPlus.js"></script>

}



<script id="template_menu" type="text/x-jquery-tmpl">
    {{each Table}}
    <li>
        <a href="{{= $value.url}}" class="item-link item-content">
            <div class="item-inner">
                <div class="item-title">{{= $value.menu_name}}</div>
            </div>
        </a>
    </li>
    {{/each}}
</script>


<div class="page-group">
    <div class="page page-current" id="page-index">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left back" href="javascript:goBack()">
                <span class="icon icon-left"></span>
                返回
            </a>
            <a class="button button-link button-nav pull-right open-popup" data-popup=".popup-about">
                关于
                <span class="icon icon-menu"></span>
            </a>
            <h1 class="title">test 3</h1>
        </header>
        <div class="bar bar-standard bar-footer">
            <a class="icon icon-edit pull-left"></a>
            <a class="icon icon-settings pull-right open-panel" data-panel=".panel-right"></a>
        </div>
        <div class="content native-scroll" id="page-index">
            <div class="content-block-title">主菜单</div>
            <div class="list-block">
                <ul id="main_menu"></ul>
            </div>
        </div>
    </div>
    <div class="popup popup-about" style="display: none;">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-right close-popup">
                关闭
            </a>
            <h1 class="title">关于SUI Mobile</h1>
        </header>
        <div class="content-block" style="">
            <div class="list-block">
                <ul>
                    <!-- Text inputs -->
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-name"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">Name</div>
                                <div class="item-input">
                                    <input type="text" placeholder="Your name">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">E-mail</div>
                                <div class="item-input">
                                    <input type="email" placeholder="E-mail">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-password"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">Password</div>
                                <div class="item-input">
                                    <input type="password" placeholder="Password" class="">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-gender"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">Gender</div>
                                <div class="item-input">
                                    <select>
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- Date -->
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-calendar"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">Birth date</div>
                                <div class="item-input">
                                    <input type="date" placeholder="Birth day" value="2014-04-30">
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- Switch (Checkbox) -->
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-toggle"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">Switch</div>
                                <div class="item-input">
                                    <label class="label-switch">
                                        <input type="checkbox">
                                        <div class="checkbox"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="align-top">
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-comment"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">Textarea</div>
                                <div class="item-input">
                                    <textarea></textarea>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block">
                <div class="row">
                    <div class="col-50"><a href="#" class="button button-big button-fill button-danger">取消</a></div>
                    <div class="col-50"><a href="#" class="button button-big button-fill button-success">提交</a></div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-overlay"></div>
    <!-- Left Panel with Reveal effect -->
    <div class="panel panel-left panel-reveal" style="">
        <div class="content-block">
            <p>这是一个侧栏</p>
            <p></p>
            <!-- Click on link with "close-panel" class will close panel -->
            <p><a href="#" class="close-panel">关闭</a></p>
        </div>
    </div>
    <div class="panel panel-right panel-cover" style="width: 90%">
        <div class="content-block" style="">
            <div class="list-block">
                <ul>
                    <!-- Text inputs -->
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-name"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">Name</div>
                                <div class="item-input">
                                    <input type="text" placeholder="Your name">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">E-mail</div>
                                <div class="item-input">
                                    <input type="email" placeholder="E-mail">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-password"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">Password</div>
                                <div class="item-input">
                                    <input type="password" placeholder="Password" class="">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-gender"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">Gender</div>
                                <div class="item-input">
                                    <select>
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- Date -->
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-calendar"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">Birth date</div>
                                <div class="item-input">
                                    <input type="date" placeholder="Birth day" value="2014-04-30">
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- Switch (Checkbox) -->
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-toggle"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">Switch</div>
                                <div class="item-input">
                                    <label class="label-switch">
                                        <input type="checkbox">
                                        <div class="checkbox"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="align-top">
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-comment"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">Textarea</div>
                                <div class="item-input">
                                    <textarea></textarea>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block">
                <div class="row">
                    <div class="col-50"><a href="#" class="button button-big button-fill button-danger">取消</a></div>
                    <div class="col-50"><a href="#" class="button button-big button-fill button-success">提交</a></div>
                </div>
            </div>
        </div>
        <p><a href="#" class="close-panel">关闭</a></p>
    </div>
</div> 