
@{
    //------------------------------------------------------------------------------
    //        Date  2018-05-27
    //        Author  蔡捷
    //			 				About page
    //        File  about.cshtml  Page file
    //------------------------------------------------------------------------------

    //  ViewBag.Title = "About";
    Layout = null;
}

@using System.Data;
@section head{

}
<style>


    . /*layout-mock *:not(.ui-splitbar) {
        background: #eee no-repeat center;
    }


    .layout-mock .center-back {
        background-image: url("http://placehold.it/400x300/eee/666&text=CENTER");
    }

    .layout-mock .north-back {
        background-image: url("http://placehold.it/400x300/eee/666&text=NORTH");
    }

    .layout-mock .south-back {
        background-image: url("http://placehold.it/400x300/eee/666&text=SOUTH");
    }

    .layout-mock .east-back {
        background-image: url("http://placehold.it/400x300/eee/666&text=EAST");
    }

    .layout-mock .west-back {
        background-image: url("http://placehold.it/400x300/eee/666&text=WEST");
    }*/
    sidebar {
        float: left;
    }

    .tmpHide {
        display: none;
    }

    /*.ui-grid, .ui-grid-viewport {
        height: auto !important;
    }*/
</style>

@*<script src="/Javascripts/vendor/layout/ui-layout.js"></script>
    <link href="/Javascripts/vendor/layout/ui-layout.css" rel="stylesheet" />
*@


@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">*@


@Request.Params["id"]
<script type="text/javascript">
     var model_string = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))';
    km.model = JSON.parse(model_string);

     var ddls_string = '@Html.Raw(ViewData["DLLS"].ToString().Replace("\r\n",""))';

    km.ddls = JSON.parse(ddls_string);
</script>

<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Trigger Modal in iFrame</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <iframe src="/user/dashboard" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>



<div class="row">
    <div class="col-sm-12 h-100">


        <div ng-controller="MyLogCtrl">


            <div class="panel panel-default">
                <div class="panel-heading">
                    MyLog
                    @*<select ui-select class="form-control m-b" ng-model="row.app_code" data-ng-options="x.text   for x in getDDL('client')" ></select>*@
                    <div style="float:right;">
                        <button class="btn primary" ng-click="InsertRowInline()" style="padding:0px;"><i class="fa fa-plus-circle">Add&nbsp;&nbsp;</i></button>
                    </div>
                </div>
                <div class="table-responsive">
                    <div ui-grid="MyLoggridOptions" ui-grid-edit="" ui-grid-row-edit ui-grid-pagination ui-grid-selection style="min-height:420px;" class="h-100"></div>
                </div>
            </div>
        </div>

    </div>




    <script type="text/javascript">
        var ws;
        $().ready(function () {
            $("#btnConnect").click(function () {
                $("#spanStatus").text("connecting");
                //   ws = new WebSocket("ws://" + window.location.hostname + "/Mvc4WSChat/api/WSChat");
                ws = new WebSocket("ws://" + window.location.hostname + ":" + window.location.port + "/api/WS");
                console.log(ws)
                //  ws = new WebSocket("ws://localhost:2445");
                //    ws = new WebSocket("ws://localhost:9813//api/WSChat");
                ws.onopen = function () {
                    $("#spanStatus").text("connected");
                };
                ws.onmessage = function (evt) {
                    $("#spanStatus").text(evt.data);
                };
                ws.onerror = function (evt) {
                    $("#spanStatus").text(evt.message);
                };
                ws.onclose = function () {
                    $("#spanStatus").text("disconnected");
                };
            });
            $("#btnSend").click(function () {
                if (ws.readyState == WebSocket.OPEN) {
                    ws.send($("#textInput").val());
                }
                else {
                    $("#spanStatus").text("Connection is closed");
                }
            });
            $("#btnDisconnect").click(function () {
                ws.close();
            });
        });
    </script>


    <input type="button" value="Connect" id="btnConnect" /><input type="button" value="Disconnect" id="btnDisconnect" /><br />
    <input type="text" id="textInput" />
    <input type="button" value="Send" id="btnSend" /><br />
    <span id="spanStatus">(display)</span>
</div>
<div style='display:none'>

</div>

