
@{ 
//------------------------------------------------------------------------------ 
//        Date  2019-05-14
//        Author  蔡捷   
//			 				Angular Side 
//        File  angular_side.cshtml  Page file 
//------------------------------------------------------------------------------
 
    ViewBag.Title = "Angular Side";
    Layout = null;
}

@section head{
  <style type="text/css">
       
    </style>
}
 
    <script type="text/javascript">
     var model_string = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))';
       km.model = JSON.parse(model_string); 
     var ddls_string = '@Html.Raw(ViewData["DLLS"].ToString().Replace("\r\n",""))';
    km.ddls = JSON.parse(ddls_string);
    </script>

 
 
<div class="row">
 <div class="col-sm-6">
    	

<div   ng-controller="MyLogCtrl3">
	 
	<div class="panel panel-default">
	  <div class="panel-heading">
	      MyLog     
	      <div style="float:right;">
    			<button  class="btn primary" ng-click="InsertSide()" style="padding:0px;"><i class="fa fa-plus-circle">Add&nbsp;&nbsp;</i></button>
        </div> 
		</div>  
	  <div class="table-responsive"  >
	      <div ui-grid="MyLoggridOptions" ui-grid-pagination ui-grid-selection style="min-height:420px;"></div>
	  </div>
	</div>
	
</div>
    	
    </div>
 <div class="col-sm-6">
    	 
<div  ng-controller="MyLogDetailCtrl3"> 
      <div class="modal-header">
        MyLog
      </div>       
<div class="col-sm-12">       			<div class="form-group">
              <label>Action</label>
              <p>  <input type="text" class="form-control"  ng-disabled="!row.editrow"  ng-model="row.action" >
           </p>
          </div>
                			<div class="form-group">
              <label>Action Data</label>
              <p>  <input type="text" class="form-control"  ng-disabled="!row.editrow"  ng-model="row.action_data" >
           </p>
          </div>
                			<div class="form-group">
              <label>Add By</label>
              <p>  <input type="text" class="form-control"  ng-disabled="!row.editrow"  ng-model="row.add_by" >
           </p>
          </div>
                			<div class="form-group">
              <label>Add On</label>
              <p>  <input type="text" class="form-control"  ng-disabled="!row.editrow"  ng-model="row.add_on" >
           </p>
          </div>
                			<div class="form-group">
              <label>App Code</label>
              <p>  <select ui-select  ng-disabled="!row.editrow"  ng-init="getDDL('client')" class="form-control m-b"   ng-model="row.app_code"  ><option data-ng-repeat="d in DDLData['client']" value = "{{d.id}}">{{ d.text }}</ option ></select>
           </p>
          </div>
                			<div class="form-group">
              <label>Flag</label>
              <p>  <label class="i-switch m-t-xs m-r"> <input type="checkbox"  ng-disabled="!row.editrow"  ng-model="row.flag" checked>  <i></i> </label>
           </p>
          </div>
                			<div class="form-group">
              <label>Ip</label>
              <p>   <select name="ip"  ng-disabled="!row.editrow"  class="form-control m-b" ng-model="row.ip" ><option value="0">inactive</option><option value="1">active</option></select>
           </p>
          </div>
                			<div class="form-group">
              <label>Menu Code</label>
              <p>  <input type="text" class="form-control"  ng-disabled="!row.editrow"  ng-model="row.menu_code" >
           </p>
          </div>
                        
      </div>  
      <div class="modal-footer">
          <div class=" MyLogDetailButtons" style="display:none;">
              <button ng-click="save()" class="btn btn-primary">Save</button>
              <button ng-click="cancel()" class="btn">Cancel</button>

          </div>
      </div>
	</div> 
    </div>
</div>
<div style='display:none'>
	
</div>
 
