
@{
    //------------------------------------------------------------------------------
    //        Date  2019-06-07
    //        Author  蔡捷
    //			 				Class Admin
    //        File  class_admin.cshtml  Page file
    //------------------------------------------------------------------------------

    ViewBag.Title = "Class Admin";
    Layout = null;
}

@section head{
    <style type="text/css">
    </style>
}

<script type="text/javascript">
     var model_string = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))';
       km.model = JSON.parse(model_string);
     var ddls_string = '@Html.Raw(ViewData["DLLS"].ToString().Replace("\r\n",""))';
    km.ddls = JSON.parse(ddls_string);
</script>



<div class="row" style="padding-top: 15px;">
    <div class="col-sm-6">


        <div ng-controller="ClassAdminCtrl">

            <div class="panel panel-default">
                <div class="panel-heading">
                    ClassAdmin
                    <div style="float:right;">
                        <button class="btn primary" ng-click="InsertSide()" style="padding:0px;"><i class="fa fa-plus-circle">Add&nbsp;&nbsp;</i></button>
                    </div>
                </div>
                <div class="table-responsive">
                    <div ui-grid="ClassAdmingridOptions" ui-grid-pagination ui-grid-selection style="min-height:800px;"></div>
                </div>
            </div>

        </div>

    </div>
    <div class="col-sm-6">

        <div ng-controller="ClassAdminDetailCtrl">

            <div class="col-sm-12">
                <div class="modal-footer">
                    <div class=" ClassAdminDetailButtons" style="display:none;">
                        <button ng-click="save()" class="btn btn-primary">Save</button>
                        <button ng-click="cancel()" class="btn">Cancel</button>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Active Flag
                    </label>
                    <div class="col-sm-10">
                        <label class="i-switch m-t-xs m-r"> <input type="checkbox" ng-disabled="!row.editrow" ng-model="row.active_flag" checked>  <i></i> </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Add By
                    </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-disabled="!row.editrow" ng-model="row.add_by">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Add On
                    </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-disabled="!row.editrow" ng-model="row.add_on">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Class Title
                    </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-disabled="!row.editrow" ng-model="row.class_title">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Class Type
                    </label>
                    <div class="col-sm-10">
                        <select name="class_type" ng-disabled="!row.editrow" class="form-control m-b" ng-model="row.class_type"><option value="english">english</option><option value="chinese">chinese</option></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Comments
                    </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-disabled="!row.editrow" ng-model="row.comments">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Method
                    </label>
                    <div class="col-sm-10">
                        <select name="method" ng-disabled="!row.editrow" class="form-control m-b" ng-model="row.method"><option value="web">web</option><option value="wechat">wechat</option></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class=" control-label">
                        Context
                    </label>
                    <div>


                        <div id="item_bodyHTML" name="item_bodyHTML" ta-toolbar="[['h1','h2','h3'],['bold','italics'],['undo',
                    'redo',
                    'clear'],['justifyLeft',
                    'justifyCenter',
                    'justifyRight',
                    'indent',
                    'outdent'],['ul','ol']]" ta-disabled="!row.editrow" text-angular ng-model="row.CONTEXT" class="btn-groups" style="height:300px;"></div>



                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<div style='display:none'>

</div>

