
@{
    //------------------------------------------------------------------------------
    //        Date  2019-06-17
    //        Author  蔡捷
    //			 				Context Admin
    //        File  context_admin.cshtml  Page file
    //------------------------------------------------------------------------------

    ViewBag.Title = "Context Admin";
    Layout = null;
}

@section head{
    <style type="text/css">
    </style>
}


<script type="text/javascript">
        var model_string = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))';
       km.model = JSON.parse(model_string);
     var ddls_string = '@Html.Raw(ViewData["DLLS"].ToString().Replace("\r\n",""))';
    km.ddls = JSON.parse(ddls_string);

</script>

<div class="row">
    <div class="col-sm-12">



        <div ng-controller="pageslideCtrl" ng-init="size='50%'">

            <div ng-controller="contextCtrl">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        context
                        <div style="float:right;">
                            <button class="btn primary" ng-click="InsertSlide()" style="padding:0px;"><i class="fa fa-plus-circle">Add&nbsp;&nbsp;</i></button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <div ui-grid="contextgridOptions" ui-grid-pagination ui-grid-selection style="min-height:420px;"></div>
                    </div>
                </div>
            </div>

            <div pageslide ps-open="checked" ps-click-outside="false" ps-size="{{size}}" ps-side="right" style="padding:5px;">
                <div style="padding-top: 50px;">
                    <button ng-click="closePageSlide()" class="btn">Close</button>
                </div>
                <div id="divNew">

                    <div ng-controller="contextDetailCtrl">
                        <div class="modal-header">
                            context
                        </div>


                        <div class="modal-footer">
                            <div class=" contextDetailButtons" style="display:none;">
                                <button ng-click="save()" class="btn btn-primary">Save</button>
                                <button ng-click="cancel()" class="btn">Cancel</button>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    启用标记
                                </label>
                                <div class="col-sm-10">
                                    <select name="active_flag" ng-disabled="!row.editrow" class="form-control m-b" ng-model="row.active_flag"><option value="1">Active</option><option value="0">Inactive</option></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    创建人
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-disabled="!row.editrow" ng-model="row.add_by">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    创建日期
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-disabled="!row.editrow" ng-model="row.add_on">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    标题
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-disabled="!row.editrow" ng-model="row.title">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    类型
                                </label>
                                <div class="col-sm-10">
                                    <select ui-select ng-disabled="!row.editrow" ng-init="getDDL('context_type')" class="form-control m-b" ng-model="row.type"><option data-ng-repeat="d in DDLData['context_type']" value="{{d.id}}">{{ d.text }}</ option ></select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    内容
                                </label>
                                <div class="col-sm-10">
                                    <div lazy-load="textAngular" ng-controller="editorCtrl as vm">
                                        @*<select ng-change="formatDoc('forecolor');this.selectedIndex=0;" ng-model="color">
                                                <option class="heading" selected>- color -</option>
                                                <option value="red">Red</option>
                                                <option value="blue">Blue</option>
                                                <option value="green">Green</option>
                                                <option value="black">Black</option> avatarthumb-lg
                                            </select>*@
                                        <span class="w-auto-foldedm-t-sm avatar thumb-lg">
                                            <img src="/img/upload.png" class="img-full" alt="..." style="width: 20px; height:20px;">

                                            <input type="file" id="wizard-picture" style=" cursor: pointer;
            display: block;
            height: 100%;
            left: 0;
            opacity: 0 !important;
            position: absolute;
            top: 0;
            width: 100%;" onchange="angular.element(this).scope().uploadFile(this.files)">

                                        </span>

                                        @*<a ng-click="color('fdsaf')">insert</a>*@
                                        <div id="item_bodyHTML" name="item_bodyHTML" ta-disabled="!row.editrow" text-angular ng-model="row.context" class="btn-groups" style="height:600px;"></div>

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div style='display:none'>

    </div>


</div>