
@{
    //------------------------------------------------------------------------------
    //        Date  2019-05-21
    //        Author  蔡捷
    //			 				Profile
    //        File  my_profile.cshtml  Page file
    //------------------------------------------------------------------------------

    ViewBag.Title = "Profile";
    Layout = null;
}

@section head{
    <style type="text/css">

        /*Profile Pic Start*/
        .picture-container {
            position: relative;
            cursor: pointer;
            text-align: center;
        }

        .picture {
            width: 106px;
            height: 106px;
            background-color: #999999;
            border: 4px solid #CCCCCC;
            color: #FFFFFF;
            border-radius: 50%;
            margin: 0px auto;
            overflow: hidden;
            transition: all 0.2s;
            -webkit-transition: all 0.2s;
        }

            .picture:hover {
                border-color: #2ca8ff;
            }

        .content.ct-wizard-green .picture:hover {
            border-color: #05ae0e;
        }

        .content.ct-wizard-blue .picture:hover {
            border-color: #3472f7;
        }

        .content.ct-wizard-orange .picture:hover {
            border-color: #ff9500;
        }

        .content.ct-wizard-red .picture:hover {
            border-color: #ff3b30;
        }

        .picture input[type="file"] {
            cursor: pointer;
            display: block;
            height: 100%;
            left: 0;
            opacity: 0 !important;
            position: absolute;
            top: 0;
            width: 100%;
        }

        .picture-src {
            width: 100%;
        }

        input[type="file"] {
            cursor: pointer;
            display: block;
            height: 100%;
            left: 0;
            opacity: 0 !important;
            position: absolute;
            top: 0;
            width: 100%;
        }

        /*Profile Pic End*/
    </style>
}

<script type="text/javascript">
     var model_string = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))';
       km.model = JSON.parse(model_string);
     var ddls_string = '@Html.Raw(ViewData["DLLS"].ToString().Replace("\r\n",""))';
    km.ddls = JSON.parse(ddls_string);
</script>



<div class="row"  ng-controller="ProfileCtrl" >
    <div class="col-sm-6"style="display:none;">


        <div ng-controller="ProfileCtrl">

            <div class="panel panel-default">
                <div class="panel-heading">
                    Profile2
                    <div style="float:right;">
                        <button class="btn primary" ng-click="InsertSide()" style="padding:0px;"><i class="fa fa-plus-circle">Add&nbsp;&nbsp;</i></button>
                    </div>
                </div>
                <div class="table-responsive">
                    <div ui-grid="ProfilegridOptions" ui-grid-pagination ui-grid-selection style="min-height:420px;"></div>
                </div>
            </div>

        </div>

    </div>
    <div class="col-sm-12" ng-controller="ProfileDetailCtrl as vm">

        <div class="modal-header">
            Profile  <div style="float:right;"> 
                @*<button class="btn primary" ng-click="InsertSide()" style="padding:0px;" ng-hide="!showInsert"><i class="fa fa-plus-circle">Edit&nbsp;&nbsp;</i></button>*@
                <button class="btn primary" ng-click="EditSide(row)" style="padding:0px;"  ><i class="fa fa-plus-circle">Edit&nbsp;&nbsp;</i></button>
            </div>
        </div>
        <div>
            <div class="col-sm-6" style="padding-top: 10px;">
                <div class="form-group">

                    <span class="thumb-lg w-auto-folded avatar m-t-sm">
                        <img src="/upload/thumb/{{row.photo}}" class="img-full" alt="...">
                        <h6 class="">Choose Picture</h6>

                        <input type="file" id="wizard-picture" style=" cursor: pointer;
            display: block;
            height: 100%;
            left: 0;
            opacity: 0 !important;
            position: absolute;
            top: 0;
            width: 100%;" onchange="angular.element(this).scope().uploadFile(this.files)">

                    </span>

                </div>
                <div class="form-group">
                    <label>Add By</label>
                    <p>
                        <input type="text" class="form-control" ng-disabled="true" ng-model="row.add_by">
                    </p>
                </div>
                <div class="form-group">
                    <label>Add On</label>
                    <p>
                        <input type="text" class="form-control" ng-disabled="true" ng-model="row.add_on">
                    </p>
                </div>
                <div class="form-group">
                    <label>Background</label>
                    <p>
                        <input type="text" class="form-control" ng-disabled="!row.editrow" ng-model="row.background">
                    </p>
                </div>
                <div class="form-group">
                    <label>Skills</label>
                    <p>
                        <select name="skills" ng-disabled="!row.editrow" class="form-control m-b" ng-model="row.skills">
                            <option value="reading">reading </option>
                            <option value="writing"> writing </option>
                            <option value="Orial English">Orial English</option>
                        </select>
                    </p>
                </div>
                <div class="form-group">
                    <label>Title</label>
                    <p>
                        <input type="text" class="form-control" ng-disabled="!row.editrow" ng-model="row.title">
                    </p>
                </div>
                <div class="form-group">
                    <label>User Id</label>
                    <p>
                        <input type="text" class="form-control" ng-disabled="!row.editrow" ng-model="row.user_id">
                    </p>
                </div>


                <div class="form-group">
                    <label>Context</label>
                    <p>

                        <div id="item_bodyHTML" name="item_bodyHTML" ta-toolbar="[['h1','h2','h3'],['bold','italics'],['undo',
'redo',
'clear'],['justifyLeft',
'justifyCenter',
'justifyRight',
'indent',
'outdent'],['ul','ol']]" ta-disabled="!row.editrow" text-angular ng-model="row.context" class="btn-groups" style="height:300px;"></div>



                    </p>
                </div>

            </div>



        <div class="   col-sm-6" style="padding-top: 10px;">
            <div class="form-group  ">
                <label>用户代码</label>
                <p>
                    <input type="text" class="form-control" ng-disabled="!row.editrow" ng-model="row.user_code">
                </p>
            </div>
            <div class="form-group  ">
                <label>Active</label>
                <p>
                    <select name="active" ng-disabled="!row.editrow" class="form-control m-b" ng-model="row.active">
                        <option value="0">Inactive</option>
                        <option value="1">Active</option>
                    </select>
                </p>
            </div>
            @*<div class="form-group  col-sm-6">
                    <label>创建人</label>
                    <p>
                        <input type="text" class="form-control" ng-disabled="!row.editrow" ng-model="row.add_by">
                    </p>
                </div>
                <div class="form-group  col-sm-6">
                    <label>创建日期</label>
                    <p>
                        <input type="text" class="form-control" ng-disabled="!row.editrow" ng-model="row.add_on">
                    </p>
                </div>*@
                    @*<div class="form-group">
            <label>部门编号</label>
            <p>
                <input type="text" class="form-control" ng-disabled="!row.editrow" ng-model="row.department_id">
            </p>
        </div>*@
                    <div class="form-group  ">
                        <label>Language</label>
                        <p>
                            <input type="text" class="form-control" ng-disabled="!row.editrow" ng-model="row.language">
                        </p>
                    </div>
                    <div class="form-group  ">
                        <label>电子邮件</label>
                        <p>
                            <input type="text" class="form-control" ng-disabled="!row.editrow" ng-model="row.email">
                        </p>
                    </div>
                    @*<div class="form-group">
            <label>口令</label>
            <p>
                <input type="text" class="form-control" ng-disabled="!row.editrow" ng-model="row.password">
            </p>
        </div>*@
                    <div class="form-group  ">
                        <label>电话</label>
                        <p>
                            <input type="text" class="form-control" ng-disabled="!row.editrow" ng-model="row.phone">
                        </p>
                    </div>
                    <div class="form-group  2">
                        <label>姓名</label>
                        <p>
                            <input type="text" class="form-control" ng-disabled="!row.editrow" ng-model="row.real_name">
                        </p>
                        @*</div>
                             <div class="form-group">
               <label>Secretkey</label>
               <p>  <input type="text" class="form-control"  ng-disabled="!row.editrow"  ng-model="row.secretkey" >
            </p>*@
                    </div>
                    <div class="form-group  ">
                        <label>性别</label>
                        <p>
                            <select name="sex" ng-disabled="!row.editrow" class="form-control m-b" ng-model="row.sex"><option value="m">Male</option><option value="f">Famle</option></select>
                        </p>
                    </div>
                    @*<div class="form-group">
            <label>拼写</label>
            <p>
                <input type="text" class="form-control" ng-disabled="!row.editrow" ng-model="row.spell">
            </p>
        </div>*@
                </div>
            <div class="modal-footer">
                <div class=" ProfileDetailButtons" style="display:none;">
                    <button ng-click="save()" class="btn btn-primary">Save</button>
                    <button ng-click="cancel()" class="btn">Cancel</button>

                </div>
            </div>
        </div>
    </div>
</div>
<div style='display:none'>
    <script>

        $(document).ready(function () {
            // Prepare the preview for profile picture
            $("#wizard-picture").change(function () {
                readURL(this);
            });
        });
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#wizardPicturePreview').attr('src', e.target.result).fadeIn('slow');
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
</div>

