
@{
    //------------------------------------------------------------------------------
    //        Date  2019-06-07
    //        Author  蔡捷
    //			 				Schedule Admin
    //        File  schedule_admin.cshtml  Page file
    //------------------------------------------------------------------------------

    ViewBag.Title = "Schedule Admin";
    Layout = null;
}

@section head{
    <style type="text/css">
    </style>
}

<script type="text/javascript">
     var model_string = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))';
       km.model = JSON.parse(model_string);
     var ddls_string = '@Html.Raw(ViewData["DLLS"].ToString().Replace("\r\n",""))';
    km.ddls = JSON.parse(ddls_string);
</script>



<div class="row" style="padding-top: 5px">
    <div class="col-sm-6">


        <div ng-controller="ScheduleCtrl">

            <div class="panel panel-default">
                <div class="panel-heading">
                    Schedule
                    <div style="float:right;">
                        <button class="btn primary" ng-click="InsertSide()" style="padding:0px;"><i class="fa fa-plus-circle">Add&nbsp;&nbsp;</i></button>
                    </div>
                </div>
                <div class="table-responsive">
                    <div ui-grid="SchedulegridOptions" ui-grid-pagination ui-grid-selection style="min-height:800px;"></div>
                </div>
            </div>

        </div>

    </div>
    <div class="col-sm-6">

        <div ng-controller="ScheduleDetailCtrl">


            <div class="modal-footer">
                <div class=" ScheduleDetailButtons" style="display:none;">
                    <button ng-click="save()" class="btn btn-primary">Save</button>
                    <button ng-click="cancel()" class="btn">Cancel</button>

                </div>
            </div>

            <div>
                <div class="form-group col-sm-6 " style="text-align:left;">
                    <label class="col-sm-4 control-label" style="padding-left:0px;">Add By</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-disabled="true" ng-model="row.add_by">
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-4 control-label">Add On</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-disabled="true" ng-model="row.add_on">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-disabled="!row.editrow" ng-model="row.title">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Active Flag</label>
                    <div class="col-sm-10">
                        <label class="i-switch m-t-xs m-r"> <input type="checkbox" ng-disabled="!row.editrow" ng-model="row.active_flag" checked>  <i></i> </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Comments</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-disabled="!row.editrow" ng-model="row.comments">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Method</label>
                    <div class="col-sm-10">
                        <select name="method" ng-disabled="!row.editrow" class="form-control m-b" ng-model="row.method"><option value="phone">phone</option><option value="wechat">wechat</option><option value="netmeeting">netmeeting</option></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Schedule Type</label>
                    <div class="col-sm-10">
                        <select name="schedule_type" ng-disabled="!row.editrow" class="form-control m-b" ng-model="row.schedule_type"><option value="interview">interview</option><option value="class">class</option><option value="meeting">meeting</option></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Scheduled Dt
                    </label>
                    <div class="col-sm-10">
                        <div class="input-group w-md">

                            <input type="text" class="form-control" ng-disabled="!row.editrow" datepicker-popup="{{format}}" ng-model="row.date" is-open="opened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-disabled="!row.editrow" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>

                        </div>



                        <div class="input-group w-md">
                            <timepicker ng-model="row.time" ng-disabled="!row.editrow" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>

                        </div>


                    </div>
                </div>


                <div class="form-group">
                    <label class=" control-label">Context</label>
                    <div>
                        <div id="item_bodyHTML" name="item_bodyHTML" ta-toolbar="[['h1','h2','h3'],['bold','italics'],['undo',
                    'redo',
                    'clear'],['justifyLeft',
                    'justifyCenter',
                    'justifyRight',
                    'indent',
                    'outdent'],['ul','ol']]" ta-disabled="!row.editrow" text-angular ng-model="row.CONTEXT" class="btn-groups" style="height:300px;"></div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div style='display:none'>

</div>

